# Changes must also be made in the following files:
# ./environment.yml
# ./meta.yaml
# ./pyproject.toml
# ./setup.py

certifi
colorama
cryptography
Cython
dateparser
lucit-licensing-python
pyOpenSSL
PySocks
pytz
regex
requests
requests[socks]
service-identity
ujson
