# Changes must also be made in the following files:
# ./environment.yml
# ./setup.py
# https://github.com/conda-forge/unicorn-binance-rest-api-feedstock/blob/main/recipe/meta.yaml

certifi
colorama
cryptography
dateparser
pyOpenSSL
pytz
regex<2022.9.12
requests
service-identity
ujson
